/* CSS for the Coffee Addicts Websie */
:root {
  --light: rgba(255, 255, 255);
  --dark: #3b3b3b;
}

/* Body */
@media (prefers-color-scheme: light) {
  body {
    background-color: #dddddd;
    color: black !important;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #2e2e2e;
    color: white !important;
  }
}

/* Navbar */
@media (prefers-color-scheme: light) {
  nav {
    background-color: #ffffff;
  }
  nav li.active a {
    color: rgb(0, 0, 0) !important;
  }
  nav a {
    color: rgba(0, 0, 0, 0.5) !important;
    transition: 100ms ease;
  }
  nav a:hover {
    color: rgba(0, 0, 0, 0.7) !important;
  }
}

@media (prefers-color-scheme: dark) {
  nav {
    background-color: var(--dark);
  }
  nav li.active a {
    color: rgb(255, 255, 255) !important;
  }
  nav a {
    color: rgba(255, 255, 255, 0.5) !important;
    transition: 100ms ease;
  }
  nav a:hover {
    color: rgba(255, 255, 255, 0.7) !important;
  }
}
.navbar-brand:hover {
  animation: navbrand 1s ease-in-out;
  transform: scale(1.15);

  box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
  -webkit-box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
  -moz-box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
}
@keyframes navbrand {
  0% {
    transform: scale(1) rotateZ(0deg);
  }
  100% {
    transform: scale(1.15) rotateZ(1080deg);

    box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
    -webkit-box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
    -moz-box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
  }
}

/* Jumbotron */
@media (prefers-color-scheme: light) {
  .jumbotron {
    background-color: white !important;

    box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
    -webkit-box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
    -moz-box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
  }
}

@media (prefers-color-scheme: dark) {
  .jumbotron {
    background-color: var(--dark) !important;

    box-shadow: 10px 10px 99px -20px rgba(15, 15, 15, 0.7);
    -webkit-box-shadow: 10px 10px 99px -20px rgba(15, 15, 15, 0.7);
    -moz-box-shadow: 10px 10px 99px -20px rgba(15, 15, 15, 0.7);
  }
}

/* Card */
@media (prefers-color-scheme: light) {
  .card {
    background-color: white !important;

    box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
    -webkit-box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
    -moz-box-shadow: 10px 10px 99px -20px rgba(128, 128, 128, 0.7);
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: var(--dark) !important;

    box-shadow: 10px 10px 99px -20px rgba(15, 15, 15, 0.7);
    -webkit-box-shadow: 10px 10px 99px -20px rgba(15, 15, 15, 0.7);
    -moz-box-shadow: 10px 10px 99px -20px rgba(15, 15, 15, 0.7);
  }
}
